// -----------------------------------------------------------------------------
//
//    Font imports
//
// -----------------------------------------------------------------------------

@include font-face('Roboto', 'roboto/Roboto-Thin', 100, normal, ttf);
@include font-face('Roboto', 'roboto/Roboto-ThinItalic', 100, italic, ttf);
@include font-face('Roboto', 'roboto/Roboto-Light', 200, normal, ttf);
@include font-face('Roboto', 'roboto/Roboto-LightItalic', 200, italic, ttf);
@include font-face('Roboto', 'roboto/Roboto-Regular', 400, normal, ttf);
@include font-face('Roboto', 'roboto/Roboto-RegularItalic', 400, italic, ttf);
@include font-face('Roboto', 'roboto/Roboto-Medium', 500, normal, ttf);
@include font-face('Roboto', 'roboto/Roboto-MediumItalic', 500, italic, ttf);
@include font-face('Roboto', 'roboto/Roboto-Bold', 700, normal, ttf);
@include font-face('Roboto', 'roboto/Roboto-BoldItalic', 700, italic, ttf);
@include font-face('Roboto', 'roboto/Roboto-Black', 800, normal, ttf);
@include font-face('Roboto', 'roboto/Roboto-BlackItalic', 800, italic, ttf);

// -----------------------------------------------------------------------------
//
//    Typography
//
// -----------------------------------------------------------------------------

html {
    font-size: $baseFontSize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    font-family: 'Roboto', Arial, sans-serif;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
        line-height: inherit;
    }
}

p {
    margin: 0;
}

body {
    font-size: 100%;
}

h1 {
    @include fs($h1);
}

h2 {
    @include fs($h2);
}

h3 {
    @include fs($h3);
}

h4, p, label, input, menuitem, button {
    @include fs($h4);
}

h5, small {
    @include fs($h5);
}

h6 {
    @include fs($h6);
}

button,
input,
optgroup,
select,
textarea {
    font-family: 'Roboto', Arial, sans-serif
}