.Select-value {
    border: none;
    // width: 100%;
    
}

input {
    width: 100%;
    @include input-placeholder {
        font-weight: 200;
        color: $B;
    }

    &:focus {
        border-color: #007eff;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
        background: #fff;
        box-shadow: none;
        outline: none;
        border-color: darken($gray2, 10%);
    }
}

.Select-control, input {
    border-color: darken($gray2, 10%);
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    color: $B;
}

.Select.is-focused:not(.is-open) > .Select-control {

}